body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../images/images\ \(2\).jpg);
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #8093b7;
}

h1 {
    color: #333;
}

p {
    color: #666;
}
